Print output

In [1]:
print('Hello World!')

Hello World!

In [1]:
import tensorflow

In [2]:
a = 17
b = 5

Operators

In [133]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) # floor division
print(a % b)
print(3 ** 2)

22
12
85
3.4
3
2
9

In [34]:
a + b

22

'_' is the last output value, which is 22 (not using print)

In [35]:
5 + _

27

String

In [ ]:
\ can be used to escape quotes

In [36]:
'hello anirban\'s world'

"hello anirban's world"

In [122]:
'"Isn\'t," they said.'

print('"Isn\'t," they said.')

s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

print(s)  # with print(), \n produces a new line

print('First line.\\nSecond line.')

"Isn't," they said.
First line.
Second line.
First line.\nSecond line.

r denotes raw string

In [39]:
print('C:\some\name')  # here \n means newline!

print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

Multiple Strings can be printed using """...""" or '''...'''

\ is used to prevent printing end of the line of first line

In [45]:
print('____')
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

print('____')
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

____

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

____
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Strings can be concatenated (glued together) with the + operator, and repeated with *

In [46]:
3 * 'un' + 'ium'

'unununium'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [48]:
'Py' 'thon'

'Python'

when you have long string

In [49]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

This only works with two literals though, not with variables or expressions

In [50]:
prefix = 'Py'
prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-50-779914c62160>, line 2)

In [51]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-51-f4764cbe42a8>, line 1)

String indexing

In [56]:
word = 'Python'
print(word[0])
print(word[1])
print(word[-1])
print(word[-2])
print(word[0:2]) # characters from position 0 (included) to 2 (excluded)
print(word[2:5])
print(word[2:])
print(word[:4])
print(word[-2:])

P
y
n
o
Py
tho
thon
Pyth
on

Python strings cannot be changed â€” they are immutable. Therefore, assigning to an indexed position in the string results in an error:

In [57]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

length of a string:

In [58]:
len(word)

6

String methods

Expand tabs

In [59]:
print('01\t012\t0123\t01234'.expandtabs())

print('01\t012\t0123\t01234'.expandtabs(4)) # argument is tab size eg 4 whitespace in between

01      012     0123    01234
01  012 0123    01234

Find sub string

In [60]:
'Py' in 'Python'

True

formatting

In [66]:
print("The sum of 1 + 2 is {0} and 1 - 2 is {1}".format(1+2, 1-2))

print("The sum of 1 + 2 is {0}".format(1+2))

print('{name} was born in {country}'.format(name='Guido', country = 'India'))

The sum of 1 + 2 is 3 and 1 - 2 is -1
The sum of 1 + 2 is 3
Guido was born in India

Casing

In [94]:
print("Hello world".upper())

print("Hello world".lower())

print('BANANA'.isupper())

print('BAnaNA'.islower())

HELLO WORLD
hello world
True
False

Index of sub string

In [78]:
print("Hello world".find('w')) # index of char

print("Hello world".index('o')) # index of first occurrence

6
4

Alpha numeric check

In [90]:
print("world".isalnum())

print("world".isnumeric())

print("world".isalpha())

print("100".isalpha())

print("100".isnumeric())

print("50".isdigit())

True
False
True
False
True
True

Iteratabily join argument characters in string

In [102]:
print("abc".join("def"))

dabceabcf

Stripping - removing specific character. if blank argument then remove whitespace

In [105]:
print('   spacious   '.lstrip())

print('www.example.com'.lstrip('cmowz.'))


print('   spacious   '.rstrip())

print('www.example.com'.rstrip('cmowz.'))

print('   spacious   '.strip())

print('www.example.com'.strip('cmowz.'))

spacious
example.com
   spacious
www.example
spacious
example

Checks whether the string starting with a particular character

In [209]:
print('hello world'.startswith('h'))
print('hello world'.startswith('a'))

True
False

Replacing a sub string with another

In [114]:
print('Arthur: three!'.replace('three', 'two'))

ee!
Arthur: two!

Splitting the string

In [119]:
print('1,2,3'.split(','))

print('1,2,3'.split(',', maxsplit=1))

print('   1   2   3   '.split())

['1', '2', '3']
['1', '2,3']
['1', '2', '3']

Swapcase

In [124]:
print("BanaNa".swapcase())

bANAnA

Title casing

In [126]:
'hello world'.title()

'Hello World'

printf type string formatting

In [127]:
print('%(language)s has %(number)03d quote types.' %
      {'language': "Python", "number": 2})

Python has 002 quote types.

List

In [131]:
squares = [1, 4, 9, 16, 25]
print(squares)
print(squares[:])
print(squares + [36, 49, 64, 81, 100])

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 121, 144]

Appending to the list

In [132]:
squares.append(121)
squares.append(12 * 12)
print(squares)

[1, 4, 9, 16, 25, 121, 144, 121, 144]

Replacing elements

In [136]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters)
print(len(letters))

# replace some values
letters[2:5] = ['C', 'D', 'E']
print(letters)

# now remove them
letters[2:5] = []
print(letters)

# clear the list by replacing all the elements with an empty list
letters[:] = []
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
7
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

Index of first occurrence of a value in list

In [207]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'd']
print(letters.index('d'))

3

List mutation

In [166]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

replacing element(s) in list

In [160]:
letters[1] = 'z'
print(letters)

letters[2:5] = 'w'
print(letters)

['a', 'z', 'c', 'd', 'e', 'f', 'g']
['a', 'z', 'w', 'f', 'g']

deleting the elements

In [162]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
del letters[3:6]
print(letters)

['a', 'b', 'c', 'g']

slicing list with a difference in frequency

In [180]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0:10:2]

[1, 3, 5, 7, 9]

Replacing elements of indices at constant difference

In [185]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0:10:2] = [100, 99, 98, 97, 96]
print(nums)

[100, 2, 99, 4, 98, 6, 97, 8, 96, 10]

removing elements

In [181]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters.clear()
print(letters)

[]

extending or adding another list

In [187]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums.extend([100, 99, 98, 97, 96]) # same as nums = nums+ [100, 99, 98, 97, 96]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 99, 98, 97, 96]

return last element from list and removing it from the list

In [273]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters.pop())
print(letters)

g
['a', 'b', 'c', 'd', 'e', 'f']

removing element by value

In [195]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters.remove('g')
print(letters)

['a', 'b', 'c', 'd', 'e', 'f']

reversing the list elements

In [196]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters.reverse()
print(letters)

['g', 'f', 'e', 'd', 'c', 'b', 'a']

sum, min and max functions for the list

In [214]:
print(sum(range(5)))
print(sum([0,1,2,3,4]))
print(max([0,1,2,3,4]))
print(min([0,1,2,3,4]))

10
10
4
0

While loop

In [137]:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

The keyword argument end can be used to avoid the newline after the output, or end the output with a different string

In [138]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

For loop

In [143]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

[(i, len(i)) for i in words]

cat 3
window 6
defenestrate 12

[('cat', 3), ('window', 6), ('defenestrate', 12)]

If else conditions

In [139]:
x = -2

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Negative changed to zero

Input

In [140]:
print(int(input("Please enter an integer: ")))

Please enter an integer: 10
10

copy a variable

In [147]:
words2 = words.copy()
words

['cat', 'window', 'defenestrate']

Dictionary

In [148]:
digits = {'one':1, 'two':2, 'three': 3}
digits

{'one': 1, 'two': 2, 'three': 3}

In [285]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [151]:
for key, value in digits.items():
    print(key, value, digits[key])

one 1 1
two 2 2
three 3 3

In [281]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)

print(tel['jack'])

del tel['sape']
tel['irv'] = 4127
print(tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [283]:
print(list(tel))

sorted(tel)
print(tel)

print('guido' in tel)

print('jack' not in tel)

['jack', 'guido', 'irv']
{'jack': 4098, 'guido': 4127, 'irv': 4127}
True
False

Range function

In [205]:
print(list(range(5)))
print(list(range(100))[0:100:10])
print(list(range(0,-10, -1)))

[0, 1, 2, 3, 4]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [210]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

Break the for loop

In [215]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

The continue statement, also borrowed from C, continues with the next iteration of the loop:

In [217]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

One liner for loop (list comprehension)

In [261]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

One liner for loop with if else

In [271]:
print([x for x in range(10) if x % 2 == 0])
print([x if x % 2 == 0 else 'odd' for x in range(10)])
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])

[0, 2, 4, 6, 8]
[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

One liner for loop (dictionary comprehension)

In [284]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

Some looping techniques

In [286]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function

In [287]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [288]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function

In [289]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

pass statement does nothing, it is used for creating minimal syntacticaaly correct codes

In [218]:
for num in range(2, 10):
    pass

Functions

In [219]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n.""" # docstring
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [225]:
print(fib)
fib

<function fib at 0x00000183924A8D30>

Print docstring

In [226]:
help(fib)

Help on function fib in module __main__:

fib(n)
    Print a Fibonacci series up to n.

Assign default value to function arguments

In [232]:
i = 5

def f(arg=i):
    return arg

print(f(6))
print(f(arg = 7))
print(f())

6
7
5

This makes a difference when the default is a mutable object such as a list, dictionary, or instances of most classes.

In [231]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

When a final formal parameter of the form ```**name``` is present, it receives a dictionary (see Mapping Types â€” dict) containing all keyword arguments except for those corresponding to a formal parameter. This may be combined with a formal parameter of the form ```*name``` (described in the next subsection) which receives a tuple containing the positional arguments beyond the formal parameter list. (```*name``` must occur before ```**name```.)

In [234]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [235]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

/ and * are optional. If used, these symbols indicate the kind of parameter by how the arguments may be passed to the function: positional-only, positional-or-keyword, and keyword-only. Keyword parameters are also referred to as named parameters.

In [236]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg, /):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

In [237]:
standard_arg(2)


standard_arg(arg=2)

2
2

In [238]:
pos_only_arg(1)


pos_only_arg(arg=1)

1

TypeError: pos_only_arg() got some positional-only arguments passed as keyword arguments: 'arg'

In [240]:
kwd_only_arg(arg=3)

kwd_only_arg(3)

3

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [241]:
combined_example(1, 2, kwd_only=3)


combined_example(1, standard=2, kwd_only=3)


combined_example(pos_only=1, standard=2, kwd_only=3)

1 2 3
1 2 3

TypeError: combined_example() got some positional-only arguments passed as keyword arguments: 'pos_only'

In [242]:
combined_example(1, 2, 3)

TypeError: combined_example() takes 2 positional arguments but 3 were given

In [243]:
def foo(name, /, **kwds):
    return 'name' in kwds
foo(1, **{'name': 2})

True

joining strings

In [245]:
def concat(*args, sep="/"):
    return sep.join(args)

print(concat("earth", "mars", "venus"))

print(concat("earth", "mars", "venus", sep="."))

earth/mars/venus
earth.mars.venus

Unpacking the list

In [247]:
print(list(range(3, 6)))            # normal call with separate arguments

args = [3, 6]
print(list(range(*args)))            # call with arguments unpacked from a list

[3, 4, 5]
[3, 4, 5]

dictionaries can deliver keyword arguments with the **-operator:

In [248]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")

d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

Lambda functions can be used wherever function objects are required. They are syntactically restricted to a single expression. Semantically, they are just syntactic sugar for a normal function definition. Like nested function definitions, lambda functions can reference variables from the containing scope

In [252]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)

print(f(0))

print(f(1))

42
43

In [257]:
pairs = [(1, 'b'), (2, 'd'), (3, 'a'), (4, 'c')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(3, 'a'), (1, 'b'), (4, 'c'), (2, 'd')]

Applying map function with lambda to list

In [260]:
list(map(lambda x: x**2, [1, 2, 3]))

[1, 4, 9]

Docstring

In [258]:
def my_function():
    """Do nothing, but document it.

    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

Tuples

In [274]:
t = 12345, 54321, 'hello!'
print(t[0])
print(t)

# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
print(u)

# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
print(v)

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
([1, 2, 3], [3, 2, 1])

In [275]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [277]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
print(len(empty))

print(len(singleton))

print(singleton)

0
1
('hello',)

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements

In [278]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

print('orange' in basket)                 # fast membership testing

print('crabgrass' in basket)

{'orange', 'banana', 'pear', 'apple'}
True
False
{'c', 'd', 'r', 'b', 'a'}
{'d', 'b', 'r'}
{'z', 'c', 'd', 'm', 'r', 'b', 'a', 'l'}
{'a', 'c'}
{'z', 'd', 'b', 'm', 'r', 'l'}

In [280]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
print(a)                                  # unique letters in a
print(b)

print(a - b)                              # letters in a but not in b

print(a | b)                              # letters in a or b or both

print(a & b)                              # letters in both a and b

print(a ^ b)                              # letters in a or b but not both

{'c', 'd', 'r', 'b', 'a'}
{'z', 'c', 'm', 'a', 'l'}
{'d', 'b', 'r'}
{'z', 'c', 'd', 'm', 'r', 'b', 'a', 'l'}
{'a', 'c'}
{'z', 'd', 'b', 'm', 'r', 'l'}